In [1]:
# Read weather information frmo csv file for years 1997 to 2015 on a daily basis
weather = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/weather_madrid_LEMD_1997_2015.csv")
weather.printSchema()

In [2]:
# check number of records
weather.count()

In [3]:
# inspect 3 elements of the table
weather.take(3)

In [4]:
# register weather Dataframe to allow SQL queries and test with a query
weather.registerTempTable("weatherT")
res1 = sqlContext.sql("SELECT CET, `Max TemperatureC`, `Min TemperatureC`, `Mean TemperatureC` FROM weatherT")
res1.show()

In [5]:
# Create temperature plot showing min, max and mean
import pandas as pd
import matplotlib.pyplot as plt

spark.conf.set("spark.sql.execution.arrow.enabled", "true") # to improve performance of Pandas conversion

plt.clf()
ax = plt.gca()
pdDF = res1.toPandas()
pdDF.plot(x='CET', y='Max TemperatureC', ax=ax)
pdDF.plot(x='CET', y='Min TemperatureC', ax=ax)
pdDF.plot(x='CET', y='Mean TemperatureC', ax=ax)
display()

In [6]:
# selection to allow plot on Visibility
res2 = sqlContext.sql("SELECT CET, ` Max VisibilityKm`, ` Mean VisibilityKm`, ` Min VisibilitykM` FROM weatherT")
res2.printSchema()

In [7]:
res2.show()

In [8]:
# create Visibility Plot
import pandas as pd
import matplotlib.pyplot as plt

plt.clf()
ax = plt.gca()
pdDF = res2.toPandas()
#pdDF.plot(x='CET', y=' Max VisibilityKm', ax=ax)
#pdDF.plot(x='CET', y=' Min VisibilitykM', ax=ax)
pdDF.plot(x='CET', y=' Mean VisibilityKm', ax=ax)
display()

In [9]:
# read stations where air pollution is measured from CSV file
stations = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/stations.csv")
stations.printSchema()

In [10]:
stations.count()

In [11]:
# register Dataframe for SQL queries and make test query
stations.registerTempTable("stationsT")
res1 = sqlContext.sql("SELECT name, elevation FROM stationsT")
res1.show()

In [12]:
# read single air pollution files for years 2001 to 2018
air_2001 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2001.csv")
air_2002 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2002.csv")
air_2003 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2003.csv")
air_2004 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2004.csv")
air_2005 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2005.csv")
air_2006 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2006.csv")
air_2007 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2007.csv")
air_2008 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2008.csv")
air_2009 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2009.csv")
air_2010 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2010.csv")
air_2011 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2011.csv")
air_2012 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2012.csv")
air_2013 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2013.csv")
air_2014 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2014.csv")
air_2015 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2015.csv")
air_2016 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2016.csv")
air_2017 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2017.csv")
air_2018 = sqlContext.read.format("com.databricks.spark.csv").option("header","true").option("inferSchema","true").load("/FileStore/tables/Madrid/madrid_2018.csv")

In [13]:
# print schema for 2001. Results from command above already show that files have different number of fields
air_2001.printSchema()

In [14]:
# register Dataframe for SQL queries and make test query
air_2001.registerTempTable("air_2001T")
res2001 = sqlContext.sql("SELECT date, CO, NO_2, station FROM air_2001T")
res2001.show()

In [15]:
res2001.count()

In [16]:
# extract data for one station to allow plots on CO and NO_2
res2001S007 = sqlContext.sql("SELECT date, CO, NO_2, station FROM air_2001T WHERE station=28079007")
pdDF = res2001S007.toPandas()

In [17]:
# plot NO_2 for this station
plt.clf()
ax = plt.gca()
#pdDF.plot(x='date', y='CO', ax=ax)
pdDF.plot(x='date', y='NO_2', ax=ax)
display()

In [18]:
# combine dataframes which already have a common schema
air_df1 = air_2001.unionByName(air_2002).unionByName(air_2003)
air_df2 = air_2004.unionByName(air_2005).unionByName(air_2006).unionByName(air_2007).unionByName(air_2008).unionByName(air_2009).unionByName(air_2010)
air_df3 = air_2011.unionByName(air_2012).unionByName(air_2013).unionByName(air_2014).unionByName(air_2015).unionByName(air_2016)
air_df4 = air_2017.unionByName(air_2018)
air_df1.printSchema()
air_df2.printSchema()
air_df3.printSchema()
air_df4.printSchema()

In [19]:
# identify common attributes for all four combined dataframes
common_columns = list(set(air_df1.columns).intersection(air_df2.columns).intersection(air_df3.columns).intersection(air_df4.columns))
print(common_columns)

In [20]:
# reduce each of the four dataframes to the common attributes
for column in list(set(air_df1.columns) - set(common_columns)):
  air_df1 = air_df1.drop(column)
air_df1.printSchema()
for column in list(set(air_df2.columns) - set(common_columns)):
  air_df2 = air_df2.drop(column)
air_df2.printSchema()
for column in list(set(air_df3.columns) - set(common_columns)):
  air_df3 = air_df3.drop(column)
air_df3.printSchema()
for column in list(set(air_df4.columns) - set(common_columns)):
  air_df4 = air_df4.drop(column)
air_df4.printSchema()

In [21]:
# now combine to one dataframe 
air_df = air_df1.unionByName(air_df2).unionByName(air_df3).unionByName(air_df4)
air_df.printSchema()

In [22]:
# check number of records in combined dataframe for air pollution
air_df.count()

In [23]:
# helper method to allow normalization of dates by "deleting" hours and minutes, i.e. reducing to day information
import datetime
from pyspark import sql

def replace_date (zeile):
  datum = zeile["date"]
  z = zeile.asDict()
  z['date'] = datum.replace(hour=0, minute=0)
  return sql.types.Row(**z)
  
  
#test_row = sql.Row(date=datetime.datetime(2001, 8, 1, 1, 0), BEN=None, CO=0.3700000047683716, EBE=None, NMHC=None, NO_2=58.400001525878906, O_3=34.529998779296875, PM10=105.0, SO_2=6.340000152587891, TCH=None, TOL=None, station=28079001)
#print(test_row)
#print(replace_date(test_row))

In [24]:
# convert Dataframe to RDD and have a look at the RDD
airRDD = air_df.rdd
airRDD.take(3)

In [25]:
# normalize all timestamps to day only, i.e. overwrite hour and minute by 0
airRDD_new = airRDD.map(lambda x: replace_date(x))
airRDD_new.take(3)

In [26]:
# convert back to dataframe
air_df_new = spark.createDataFrame(airRDD_new)
air_df_new.createOrReplaceTempView("airRDD_new")
air_df_new.cache() # wenn caching nach count(), dann keinen Effekt auf nächste Befehle
air_df_new.count()

In [27]:
# register for SQL queries and verify number of records
air_df_new.registerTempTable("airT")

res1 = sqlContext.sql("SELECT count(*) FROM airT")
res1.show()

In [28]:
# now save combined air data as CSV file
dbutils.fs.rm("/FileStore/tables/Madrid/madrid_2001-2018.csv", True)
air_df_new.write.csv("/FileStore/tables/Madrid/madrid_2001-2018.csv", sep=",",header = 'true')

In [29]:
# take a look at the size of the files (approx. 4.8 MB per file with 110 files)
%fs ls /FileStore/tables/Madrid/madrid_2001-2018.csv

In [30]:
# now store the same data as Parquet file(s)
dbutils.fs.rm("/FileStore/tables/Madrid/madrid_2001-2018.parquet", True)
air_df_new.write.parquet("/FileStore/tables/Madrid/madrid_2001-2018.parquet")
# dbutils.fs.rm("/FileStore/tables/Madrid/weather.parquet", True)
# weather.write.parquet("/FileStore/tables/Madrid/weather.parquet")   # geht nicht weil die Spaltennamen in Weather Leerzeichen enthalten

In [31]:
# again take a look at the size (approx 500 kB per file with 110 files)
%fs ls /FileStore/tables/Madrid/madrid_2001-2018.parquet

In [32]:
# read Parquet file
# weatherP = spark.read.parquet("/FileStore/tables/Madrid/weather.parquet")
# weatherP.createOrReplaceTempView("weatherP")
airP = spark.read.parquet("/FileStore/tables/Madrid/madrid_2001-2018.parquet")
airP.cache()
airP.createOrReplaceTempView("airP")

In [33]:
# check whether Parquet file has been loaded correctly
res1 = sqlContext.sql("SELECT count(*) FROM airP")
res1.show()
# sehr schnell im Vergleich zu gleicher Abfrage mit airT

In [34]:
# check performance with air from CSV
res1 = sqlContext.sql("SELECT count(*) FROM weatherT, airT WHERE weatherT.CET = airT.date")
res1.show()

In [35]:
# and compare with performance with air from Parquet
res1 = sqlContext.sql("SELECT count(*) FROM weatherT, airP WHERE weatherT.CET = airP.date")
res1.show()

In [36]:
# Plots über die ganze Zeit:
fullData = sqlContext.sql("SELECT date, BEN, CO, EBE, NMHC, NO_2, O_3, PM10, SO_2, TCH, TOL FROM airP WHERE station=28079036")
fullData.cache()
fullData.show()

In [37]:
fullData.count()

In [38]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true") # verbessert Performance by Wandlung in Pandas dataframe
fullDF = fullData.toPandas()

In [39]:
plt.clf()
ax = plt.gca()
fullDF.plot(x='date', y='O_3', ax=ax)
display()

In [40]:
fullData2 = sqlContext.sql("SELECT date, BEN, CO, EBE, NMHC, NO_2, O_3, PM10, SO_2, TCH, TOL, station FROM airP")
fullData2.cache()
fullData2.show()

In [41]:
plt.clf()
ax = plt.gca()
fullDF2 = fullData2.toPandas()

In [42]:
fullDF2.plot(x='date', y='PM10')
display()

In [43]:
air_df_pd = air_df.toPandas()
air_df_pd["red_datetime"] = [air_df_pd["date"][i].replace(hour = 0, minute = 0) for i in range(len(air_df_pd))]
air_df_pd.head(2)

In [44]:
air_df_enhanced = sqlContext.createDataFrame(air_df_pd)

In [45]:
air_df_enhanced.registerTempTable("airT_enh")
time_gas_con = sqlContext.sql("SELECT red_datetime, station, AVG(BEN) AS BEN, AVG(CO) AS CO, AVG(EBE) AS EBE, AVG(NMHC) AS NMHC, AVG(NO_2) AS NO_2, AVG(O_3) AS O_3, AVG(PM10) AS PM10, AVG(SO_2) AS SO_2, AVG(TCH) AS TCH, AVG(TOL) AS TOL FROM airT_enh GROUP BY red_datetime, station")

In [46]:
time_gas_con.cache()
time_gas_con.take(10)

In [47]:
# Darstellung der Anzahl Messreihen:
time_gas_con.count()

In [48]:
# Ausgabe der neuen Tabelle in Parquet-File; erst löschen des Files, falls vorhanden:
dbutils.fs.rm("/FileStore/tables/Madrid/madrid_2001-2018_time_gas_concentration.parquet", True)
time_gas_con.write.parquet("/FileStore/tables/Madrid/madrid_2001-2018_time_gas_concentration.parquet")

In [49]:
air_df_grouped = air_df_new.groupBy('date').agg({'CO': 'mean', 'EBE': 'mean', 'NMHC': 'mean', 'TCH': 'mean', 'SO_2': 'mean', 'O_3': 'mean',
                                                'TOL': 'mean', 'BEN': 'mean', 'PM10': 'mean', 'NO_2': 'mean'})
air_df_grouped.cache()
air_df_grouped.take(3)  # took 1.81 minutes

In [50]:
air_df_grouped.registerTempTable("airGroupedT")
res1 = sqlContext.sql("SELECT count(*) FROM airGroupedT")
res1.show()
# Shows nicely lacy evaluation. When run for the first time it takes around 2 minutes
# after running and caching, takes around 3 seconds

In [51]:
# zu Pandas
pd_air_df_grouped = air_df_grouped.toPandas()

In [52]:
# CO-Plot:
pd_air_df_grouped.plot(x='date', y='avg(CO)')
display()

In [53]:
# O_3 Plot
pd_air_df_grouped.plot(x='date', y='avg(O_3)')
display()

In [54]:
# NO_2 Plot:
pd_air_df_grouped.plot(x='date', y='avg(NO_2)')
display()

In [55]:
# SO_2 Plot
pd_air_df_grouped.plot(x='date', y='avg(SO_2)')
display()

In [56]:
# PM10 Plot
pd_air_df_grouped.plot(x='date', y='avg(PM10)')
display()

In [57]:
# NMHC Plot
pd_air_df_grouped.plot(x='date', y='avg(NMHC)')
display()

In [58]:
# Join Air mit Wetterdaten
air_weather_joined = sqlContext.sql("SELECT * FROM weatherT, airGroupedT WHERE weatherT.CET = airGroupedT.date")
# alternativ
# air_weather_joined = air_df_grouped.join(weather, air_df_grouped.date == weather.CET, 'inner')
air_weather_joined.take(3)

In [59]:
air_weather_joined.cache()
air_weather_joined.count()

In [60]:
air_weather_joined.take(3)

In [61]:
pd_air_df_grouped = air_df_grouped.toPandas()

In [62]:
pd_air_df_grouped.plot(x='date', y='avg(CO)')
display()

In [63]:
pd_air_df_grouped.plot(x='date', y='avg(O_3)')
display()

In [64]:
air_weather_joined.printSchema()

In [65]:
import numpy as np
date = air_weather_joined.select("CET")
date_pd = date.toPandas()
temp_air_pollution = air_weather_joined.select("Mean TemperatureC", "avg(NO_2)", "avg(PM10)")
temp_air_pollution_pd = temp_air_pollution.toPandas()

is_a_number = ~np.isnan(temp_air_pollution_pd['Mean TemperatureC']) # 2 entries of temperature are NaN and need to be thrown out. This gives indices of good values

# subsetting both date_pd and temp_air_pollution_pd:
date_pd = date_pd[is_a_number]
temp_air_pollution_pd = temp_air_pollution_pd[is_a_number]

In [66]:
# normalized_df=(df-df.mean())/df.std()
normalized_temp_air_pollution_pd = (temp_air_pollution_pd - temp_air_pollution_pd.mean())/temp_air_pollution_pd.std()
normalized_temp_air_pollution_pd

In [67]:
date_temp_air_scaled_pd = pd.concat([date_pd, normalized_temp_air_pollution_pd], axis=1)
date_temp_air_scaled_pd["Mean TemperatureC"] = date_temp_air_scaled_pd["Mean TemperatureC"] - 5
date_temp_air_scaled_pd["avg(PM10)"] = date_temp_air_scaled_pd["avg(PM10)"] + 5
date_temp_air_scaled_pd.columns = ['Date', "mean Temperature (norm)", "mean NO_2 (norm)", "mean PM_10 (norm)"]
date_temp_air_scaled_pd

In [68]:
date_temp_air_scaled_pd.plot()
display()

In [69]:
date_temp_air_scaled_pd.corr() # Korrelationsmatrix

In [70]:
temp_air_pollution_extended = air_weather_joined.select("Mean TemperatureC", 
                                                        "avg(NO_2)", 
                                                        "avg(NMHC)", 
                                                        "avg(BEN)", 
                                                        "avg(CO)", 
                                                        "avg(TCH)", 
                                                        "avg(O_3)", 
                                                        "avg(EBE)",
                                                        "avg(TOL)",
                                                        "avg(SO_2)",
                                                        "avg(PM10)") # Vergleiche Cmd 43, aber hier: meanTemp und alle AirPoll für Korrel.-Matrix

In [71]:
temp_air_pollution_extended_pd = temp_air_pollution_extended.toPandas()
korrel_mat = temp_air_pollution_extended_pd.corr()
korrel_mat

In [72]:
def plot_corr(df,size=10): # Funktion zum Berechnen und Plotten von Korrelationsmatrix (Input ist Pandas-Dataframe)
                           # Diese Def., weil plt.matshow(dataframe.corr()) (plt aus matplotlib) keine Beschriftung macht
    '''Function plots a graphical correlation matrix for each pair of columns in the dataframe.

    Input:
        df: pandas DataFrame
        size: vertical and horizontal size of the plot'''

    corr = df.corr()
    fig, ax = plt.subplots(figsize=(size, size))
    cax = ax.matshow(corr, interpolation='nearest')
    fig.colorbar(cax)
    ax.matshow(corr)
    plt.xticks(range(len(corr.columns)), corr.columns);
    plt.yticks(range(len(corr.columns)), corr.columns);

In [73]:
plot_corr(temp_air_pollution_extended_pd, size = 15)
display()